ul{
	list-style-type: none;
	margin: 0;
	padding:0;
	overflow: hidden;
	font-size: 28pt;
	background-color: rgba(0,0,139,1);
}
li{
	float: left;
	border-right: solid gray 10px;
	border-left: solid gray 10px;
}


li a{
	display: block;
	color:white;
	text-decoration: none;
	padding:25px;
	font-family: algerian;
	font-weight: bold;
   font-variant: small-caps;
}
li a:hover{
	display: block;
	color:black;
	text-decoration: none;
	font-family: algerian;

	font-weight: bold;
   font-variant: small-caps;
   background-color: yellow;
}
body{
	
	background-image: url(ima.jpeg);
	background-repeat:no-repeat; 
	background-size:cover;
	
}
h1 {
	padding:40px;
	background-image: url(OVERLAY.jpeg);
	font-family: Times New Roman;
	font-variant: small-caps;
	text-align: center;
	color:white;
	}
p{
	text-align: center;
}
p a{
	font-family: sans-serif;
	font-size: 25pt;
	color: white;
	

}
p a:hover{
	font-family: sans-serif;
	font-size: 25pt;
	color: blue;
	
}
/*DIVISION OF THE ARTICLES*/

.leftcolumn {
	float: left;
	width: 30%;
}
.middlecolumn{
	float: left;
	width: 40%;
}
.rightcolumn{
	float: left;
	width: 30%;
}
.imgcenter{
	width:400px;
	height:300px;
	margin:auto;
	 padding: auto; 
	 display: block;
	 border: 3px solid blue;
}
